<div class="white-body">
  <div class="content">
    <h1>All about the <%= @kite.brand.name %> <%= @kite.model %></h1>
    <br>
    <h2>Characteristics</h2>
    <div class="show-gear">
      <div class="gear">
        <p class="text-justify"><%= @kite.description %></p>
        <br>
        <div class="gear-charact">
          <img class="show-gear-logo" src="<%= @kite.brand.logo_url %>" />
          <ul>
            <% @kite.kite_parameters.each do |parameter| %>
              <li><%= parameter.name %> : <%= parameter.rate %> / 10</li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="photo">
        <img src="<%= @kite.photo_url %>" />
      </div>
    </div>
    <br>
    <h2>Dealer, Ambassador, School :</h2>
    <br>
    <div id="map" style="width: 100%; height: 600px; border-radius: 8px;" data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <hr>
    <h2>Test this Gear</h2>
    <ul>
      <li>This is a list of School to rent and test this gear</li>
      <li>This is a list of Event</li>
      <li>This is a list of Ambassador</li>
    </ul>
    <hr>
    <h2>Buy this Gear</h2>
    <ul>
      <li>This is a list of shop</li>
    </ul>
    <br>
  </div>
</div>